MONGODB_URI=mongodb+srv://shalendrasen05:shalendra%230513@cluster0.njph5kw.mongodb.net/erickshaw

JWT_SECRET=nitkkr_erickshaw_jwt_secret_key_2024_secure
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=your_google_maps_api_key_here

# Gmail SMTP — get App Password from https://myaccount.google.com/apppasswords
GMAIL_USER=erickshawnitkkr@gmail.com
GMAIL_APP_PASSWORD=epct kmll uqfy uucv